extends authlayout

block content
      #homecontent-bottom
        if success
          h3 Password changed successfully
        if error
          h3 Error
          p= error
        form#profileform(method='post', action='#')
          div
            | Current Password:
            br
            input#password(type='password', value='', name='oldpassword')
          br
          div
            | New Password:
            br
            input#password(type='password', value='', name='password')
          br
          div
            | Confirm Password:
            br
            input#confirm(type='password', value='', name='confirm')
          br
          div
            input(type='submit', value='Change')

      #footer
        div
          div
            a(href='../logout') Logout
