extends unauthlayout

block content


      #homecontent-top
        #homecontent-topleft.left
          #homebottom
      .clear
      #homecontent-bottom
        div
          if error
            p= error
          else
            p Please enter the email associated with your user account.
        form#passwordform(method='post', action='#')
          div
            | Username:&nbsp
            input#username(type='text', value='', name='username')
            br
            br
            input(type='submit', value='Reset')
            input(type='hidden', value='username', name='method')
        div
          br
          br
          a(href='login') Login
          br
          a(href='./forgotusername') Forgot Username
      #footer
        div
          div
