extends unauthlayout

block content

  #homecontent-bottom
    if error
      p
        strong= error
    div
      p Please enter your username:
    form#passwordform(method='post', action='#')
      div Email:
        br
        input#email(type='text', value='', name='email')
        br
        br
        input(type='submit', value='Reset')
        input(type='hidden', value='email', name='method')
    div
      br
      br
      a(href='login') Login
  #footer
    div
      div
